@import url(./__link/link.css);

.header__menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0 0;
  height: 50px;
  background-color: rgba(255, 167, 136, 0.5);
  border-radius: 5%;
}