.menu__link {
  display: flex;
  width: 150px;
}
.links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: bold;
}

.links:hover {
  border: 1px white solid;
  border-radius: 5%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
